@font-face {
    font-family: Antenna;
    font-style: normal;
    src: url('../font-gob/antenna/ANTENNACOND-BOLD.OTF') 
}

@font-face {
    font-family: Antenna-regular;
    font-style: normal;
    src: url('../font-gob/antenna/ANTENNACOND-REGULAR.TTF') 
}

@font-face {
    font-family: Antenna-bold;
    font-style: normal;
    src: url('../font-gob/antenna/ANTENNACOND-BOLD.OTF') 
}

@font-face {
    font-family: Antenna-body;
    font-style: normal;
    src: url('../font-gob/antenna/ford-antenna-italic-588ce13ac85a5.otf') 
}

@font-face {
    font-family: Changa-regular;
    font-style: normal;
    src: url('../font-gob/ChangaOne/ChangaOne-Regular.ttf') 
}

@font-face {
    font-family: Changa-italic;
    font-style: normal;
    src: url('../font-gob/ChangaOne/ChangaOne-Italic.ttf') 
}

@font-face {
    font-family: Gotham-bold;
    font-style: normal;
    src: url('../font-gob/Gotham-Font/Gotham-Bold.otf') 
}

nav{
  font-family: Gotham-bold;
}


body {
  /*
  background-color: #FFE7E2;
  */
  background-color: #FFFFFF;
  font-family: Antenna-regular;
}
header {
  /*
  background-color: #BF1102;
  */
  background-color: #ea1b36;
  color: white;
  /*margin-top:5px;*/
  margin-right: 10px;
  margin-left: 10px; 
}

.title{
  font-family: Gotham-bold;
}

.bg-white {
  /*
  height: 50px;
  
  background-color: #FFE7E2 !important;*/
  background-color: #ea1b36 !important;
}

#logo-menu{
  width: 200px;
}

.border-red{
  border: solid 2px #ea1b36;
  border-radius: 12px;
}

.fondo-grey{
  background-color: #9c9a9a;
}

.fondo-grey-c{
  background-color: #c4c0c0;
}

.btn-red {
  background-color: #ea1b36;
  color: white;
  border-radius: 15px
}

.btn-red:hover {
  background-color: #ffffff;
  border: solid 2px #ea1b36; 
  color: #040404;
}

.google_canvas{
  width: 100%; 
  height: 450px;
}

@media (max-width: 900px) {
  /*#logo{
    width: 300px;
  }*/
  h2 {
    size: 1.0em;
  }

 .google_canvas{
    width: 100%; 
    height: 250px;
  }

}  

@media (max-width: 768px) {
  /*#logo{
    width: 300px;
  }*/
  h2 {
    size: 1.0em;
  }

 .google_canvas{
    width: 100%; 
    height: 250px;
  }

}  


@media (max-width: 600px) {
  /*#logo{
    width: 300px;
  }*/
  h2 {
    size: 1.0em;
  }

 .google_canvas{
    width: 100%; 
    height: 250px;
  }

}  